services:
  users:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      DB_HOST: mysql-db
      DB_NAME: uber
      DB_USER: root
      DB_PASSWORD: secret
    depends_on:
      - mysql-db
  drivers:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    environment:
      DB_HOST: mysql-db
      DB_NAME: uber
      DB_USER: root
      DB_PASSWORD: secret
    depends_on:
      - mysql-db
  payments:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8080"
    environment:
      DB_HOST: mysql-db
      DB_NAME: uber
      DB_USER: root
      DB_PASSWORD: secret
    depends_on:
      - mysql-db
  rides:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8084:8080"
    environment:
      DB_HOST: mysql-db
      DB_NAME: uber
      DB_USER: root
      DB_PASSWORD: secret
    depends_on:
      - mysql-db
  mysql-db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3306:3306"
